{% extends "base.html" %}

{% block content %}

<br>
<div class="center-container">
<h2>Find Items</h2>
</div>

<!-- TODO: search bar -->
<!-- TODO: advanced search -->
<!-- TODO: trending products -->
<!-- TODO: recommended products -->
<!-- TODO: recently viewed -->

<div class="right-column">
  <h5> Filter By Categories </h5>
<div class="button-container">
  <a href="/products/filtercategory/?k=Red">
    <button>Red</button>
  </a>
  <a href="/products/filtercategory/?k=Blue">
    <button>Blue</button>
  </a>
  <a href="/products/filtercategory/?k=Green">
    <button>Green</button>
  </a>
  <a href="/products/filtercategory/?k=Yellow">
    <button>Yellow</button>
  </a>
  <a href="/products/filtercategory/?k=Purple">
    <button>Purple</button>
  </a>
</div>
</div>
<h5> Filter By Average Review </h5>
<div class="button-container">
  <a href="/products/get_prods_by_star/?k=0">
    <button>0 Star</button>
  </a>
  <a href="/products/get_prods_by_star/?k=1">
    <button>1 Star</button>
  </a>
  <a href="/products/get_prods_by_star/?k=2">
    <button>2 Stars</button>
  </a>
  <a href="/products/get_prods_by_star/?k=3">
    <button>3 Stars</button>
  </a>
  <a href="/products/get_prods_by_star/?k=4">
    <button>4 Stars</button>
  </a>
  <a href="/products/get_prods_by_star/?k=5">
    <button>5 Stars</button>
  </a>
</div>

<div class ="right-column">
  <h5> Filter By Description </h5>
<form action='/products/filterkeyword/' method = "GET">
  <input type="string" placeholder = "Enter keyword" name = "k"/>
</form>
</div>

<div class ="right-column">
  <h5> Filter By Price </h5>
  <div class="button-container">
    <a href="/products/asc">
      <button>Price Ascending</button>
    </a>
    <a href="/products/desc">
      <button>Price Descending</button>
    </a>

  </div>
<form action='/products/max/' method = "GET">
  <input type="string" placeholder = "Maximum Price" name = "k"/>
</form>
<form action='/products/min/' method = "GET">
  <input type="string" placeholder = "Minimum Price" name = "k"/>
</form>

</div>

<br><br><br><br><br><br><br>

<div class = "left-column">
<h5> Advanced Filter </h5>

<div class = "container">
<form action='/products/filter/' method = "GET" id="advfilter">

<!-- checkbox code for asc/desc -->
<label for="checkbox">Price:</label>
<select id="checkbox" name="checkbox" required>
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>


<label for="editSTARS">Star Rating:</label>
<select id="editSTARS" name="editSTARS" required>
    <option value="-1">Any</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>

</div>

<!-- category to filter for -->


<!-- keyword to filter for -->
  <input type="string" placeholder = "Enter keyword" name = "keyword"/>

  <input type="string" placeholder = "Enter category" name = "cat"/>


    <input type="string" placeholder = "Maximum Price" name = "maxp"/> 



    <input type="string" placeholder = "Minimum Price" name = "minp"/>

    <input type="submit" value="Submit Advanced Filtering">

</form>
</div>





{% set y = avail_products|length %}
{% set len = total_avail%}
{% set x = 0 %}

<br> <br>

<div class="container"></div>

{% set pages = (len / page_length) | round(0, 'ceil') | int %}

<br>

{% for x in range(0, y, 4) %}
    <div class="card-group">
      {% if x + 4 < y %}
      {% set i = x + 4 %}
      {% else %}
      {% set i = y %}
      {% endif %}
      {% for product in avail_products[x:i]%}
      {% set id = product.id%}
      <!--{% print id %}-->

      <div class="height d-flex justify-content-center align-items-center"></div>
      <div class="card">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="mt-2">
            <div class="image">
              <img src= "{{product.image}}" width="190">
            </div>
            <div class="mt-5">
              <h4 class="main-heading mt-0">{{product.name}}</h4>
              <p class="product-description">{{product.product_description}}</p>
              <p class="idx">ID: {{product.id}} &emsp; ${{product.price}}</p>
              <a href="/products/page/{{product.id}}" class="btn btn-primary stretched-link">Product Page</a>
              <p>
              {% if current_user.is_authenticated %}
              <form action="{{ url_for('wishlist.wishlist_add', product_id=id) }}" method="POST">
                <!--{% print id %}-->
                <input type="submit" value="Add to Wishlist" />
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      </div>

  {% endfor %}

  <div class="center-container">
  <p> Page {{ current_page }} of {{ pages}} </p>

{% if len > page_length %}
<form action="" method="post" style="display: inline;">
    {% if current_page > 1 %} <!-- dont want to get page < 1, will give out of bounds error-->
        <input type="hidden" name="action" value="prev">
        <button type="submit"><<</button>
    {% endif %}
</form>

<form action="" method="post" style="display: inline;"> 
    {% if (len / page_length) > current_page %} <!-- dont want out of bounds error on right side either -->
        <input type="hidden" name="action" value="next">
        <button type="submit">>></button>
    {% endif %}
</form>
{% endif %}

</div>
</div>

<br> <br> <br>

{% endblock %}
