{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
{% if cart %}
<h2>Your Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart%}
      <tr>
        <th scope="row">{{item.product_id}}</th>
        <th scope="row">{{item.product_name}}</th>
        <td>
          <a href= "{{url_for('cart.minus_item', product_id=item.product_id, quantity=item.quantity)}}" type="button">-</a>
            <p>{{item.quantity}}</p>
          <a href= "({url_for('cart.plus_item', product_id=item.product_id, quantity=item.quantity)}}" type="button">+</a>
        </td>
        <td>${{item.price}}</td>
        {% set total_price = item.price*item.quantity %}
        <td>${{total_price}}</td>
        <td>
          <a href="{{ url_for('cart.delete_item', product_id=item.product_id) }}" class="btn btn-danger">Remove</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p class="total">Total Products: {{ cart|length }}</p>
<p class="total">Total Cost: ${{ total_cost }}</p>
{% if cart %}
   <form action="{{ url_for('cart.place_order') }}" method="POST">
       <p><button type="submit" class="btn btn-success">Place Order</button></p>
   </form>
{% endif %}
{% else %}
<h2>No items in cart</h2>
{% endif %}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}


<script>
  document.addEventListener('DOMContentLoaded', function () {
      const quantityButtons = document.querySelectorAll('.quantity-toggle');

      quantityButtons.forEach(button => {
          button.addEventListener('click', function () {
              const action = this.dataset.action;
              const productId = this.dataset.productId;
              updateQuantity(productId, action);
          });
      });

      function updateQuantity(productId, action) {
          // Send an AJAX request to the server to update the quantity
          fetch(`/update_quantity/${productId}/${action}`, { method: 'POST' })
              .then(response => response.json())
              .then(data => {
                  // Update the quantity displayed on the page
                  const quantityElement = document.querySelector(`[data-product-id="${productId}"]`);
                  quantityElement.innerText = data.newQuantity;
              })
              .catch(error => console.error('Error:', error));
      }
  });
</script>
