{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Add to Wishlist</th>
      <th scope="col">Add to Cart</th>
      

    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <form action="{{ url_for('wishlist.wishlist_add', product_id=product.id) }}"
                method="POST">
            <input type="submit" value="Add to Wishlist"/>
          </form>
        </td>
        <td>
          <form action="{{ url_for('cart.cart_add', product_id=product.id) }}"
                method="POST">
            <input type="submit" value="Add to Cart"/>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
  {% if purchase_history %}
  <h2>Your recent purchases:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Purchase ID</th>
        <th scope="col">Buyer ID</th>
        <th scope="col">Price</th>
        <th scope="col">Fulfillment Status</th>
        <th scope="col">Time of Purchase</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchase_history%}
        <tr>
          <th scope="row">{{purchase.id}}</th>
          <td>{{purchase.buyer_id}}</td>
          <td>{{purchase.total_price}}</td>
          <td>{{purchase.status}}</td>
          <td>{{purchase.timestamp}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2>No purchase history</h2>
  {% endif %}
  {% if seller_check %}
  <p><a href="{{ url_for('index.seller') }}">Seller Page</a></p>
  {% else %}
  <p>sign up to become a seller (WIP)</p>
  {% endif %}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history and / or seller information!</p>
{% endif %}


{% endblock %}
