{% extends "base.html" %}

{% block content %}

<br><br>
<h1>Home</h1>
<br>
<h2>Products for sale:</h2>
<form action='products/findexpensive/' method = "GET">
  <label for = "k">Filter Products:</label><br>
  <input type="number" placeholder = "Enter # to display" name = "k"/>
</form>
<br> <br>

{% set y = avail_products|length %}
{% set x = 0 %}

{% for x in range(0, y, 4) %}
    <div class="card-group">
      {% if x + 4 < y %}
      {% set i = x + 4 %}
      {% else %}
      {% set i = y %}
      {% endif %}
      {% for product in avail_products[x:i]%}
      <div class="card">
          <img src="https://i.insider.com/602ee9ced3ad27001837f2ac?width=750&format=jpeg&auto=webp" alt={{product.id}} style="width:100%">
          <h1>{{product.name}}</h1>
          <p>{{product.id}}</p>
          <p class="price">${{product.price}}</p>
          <p class="card-body">{{product.product_description}}</p>
          <a href="/products/page/{{product.id}}" class="btn btn-primary stretched-link">Product Page</a>
          <p><form action="{{ url_for('wishlist.wishlist_add', product_id=product.id) }}"
            method="POST">
        <input type="submit" value="Add to Wishlist"/><form action="{{ url_for('wishlist.wishlist_add', product_id=1) }}"
        method="POST">
        <input type="submit" value="Add to Cart"/></p>
      </div>
    {% endfor %}
  </div>

  {% endfor %}



<br><br>
{% if current_user.is_authenticated %}
  {% if purchase_history %}
  <h2>Your recent purchases:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Purchase ID</th>
        <th scope="col">Buyer ID</th>
        <th scope="col">Price</th>
        <th scope="col">Fulfillment Status</th>
        <th scope="col">Time of Purchase</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchase_history%}
        <tr>
          <th scope="row">{{purchase.id}}</th>
          <td>{{purchase.buyer_id}}</td>
          <td>{{purchase.total_price}}</td>
          <td>{{purchase.status}}</td>
          <td>{{purchase.timestamp}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2>No purchase history</h2>
  <!-- TODO: "Make a purchase!", [button to navigate to 'buy' page]-->
  {% endif %}
  <!--   {% if seller_check %} # depreciated
  <p><a href="{{ url_for('index.seller') }}">Seller Page</a></p>
  {% else %}
  <p>sign up to become a seller (WIP)</p>
  <!-- TODO: link to sign up to become a seller -->
  <!-- {% endif %} -->


  {% if cart_check %}
  <p><a href="{{ url_for('index.cart') }}">See your cart</a></p>
  {% else %}
  <p>No items in your cart!</p>
  {% endif %}


{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history, current cart, and seller information!</p>
{% endif %}

<p><a href="{{ url_for('recent_feedback.recentFeedback') }}">Your Recent Feedbacks</a></p>

{% endblock %}
