{% extends "base.html" %}

{% block content %}
<br><br>
<p><a href="{{ url_for('account.account') }}">Return to Account Page</a></p>

<h1>Public Profile</h1>
{% if not current_user.is_authenticated %}
{% set id = current_user.id %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your account information!</p>
{% else %}
<div style="display: flex; justify-content: space-between; align-items: center;">
<br>
{% if seller_check %}
    <strong>Total Sales: </strong>{{ num_sales }}
    <br>
        <strong>Email: </strong>{{ seller_email }}
        <br>
        <strong>Address: </strong>{{ seller_address }}
    <form action="{{ url_for('recent_feedback.get_seller_feedback_page', seller_id=current_user.id) }}" method="POST">
        <!--{% print id %}-->
        <input type="submit" value="Go to Seller Feedback Page" />
      </form>
    <p><a href="{{ url_for('recent_feedback.submit_SELLERfeedback', seller_id=current_user.id)}}">submit a review of this
        seller</a></p>

{% else %}
        Buyer
    {% endif %}
{% endif %}
{% endblock %}


