{% extends "base.html" %}

{% block content %}

<h2>Update your review</h2>


<form action="{{ url_for('recent_feedback.edit_SELLERfeedbackSTARS', seller_id=seller.user_id)}}" method="post">

    <label for="editSELLERSTARS">Star Rating:</label>
    <select id="editSELLERSTARS" name="editSELLERSTARS" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>

    <input type="submit" value="Update Review">
</form>


{% endblock %}
